<% layout('layouts/boilerplate') %>
<div class="row m-3">
<div class="col-6 offset-3">
<h3 class="text-center text-success">Login</h3>
<form action="/login" method="POST">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="auth[username]" class="form-control" id="username" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="auth[password]" class="form-control" id="password">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="check">
      <label class="form-check-label" for="check">Keep me Sign in</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>